{% load static %}
{% if product %}
<div class="product-card border border-gray-300 rounded shadow-lg w-full" data-detail-url="{% url 'product-detail' product.id %}">
  <div class="product-image mb-2 relative">
    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-card-img" loading="lazy" />
    <button
      class="favorite-btn"
      data-url="{% url 'toggle-favorite' product.id %}"
      data-product-id="{{ product.id }}"
    >
      {% if product.id in request.wishlist %}
      <i class="bi bi-heart-fill text-red-500"></i>
      {% else %}
      <i class="bi bi-heart text-white"></i>
      {% endif %}
    </button>
  </div>
  <div class="p-4">
    <h2 class="card-title">{{ product.name }}</h2>
    <p class="card-description">{{ product.description }}</p>
    <p class="card-price">${{ product.price }}</p>
    <hr class="my-2 text-gray-500" />
    <div class="flex justify-center items-center">
      <button
        class="add-cart-btn primary-btn"
        data-url="{% url 'add-to-cart' product.id %}"
        aria-label="Add {{ product.name }} to cart"
      >
        <i class="bi bi-cart-plus"></i> Add to Cart
      </button>
    </div>
  </div>
</div>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/products.js' %}"></script>
{% endif %}
