{% extends "shop/main.html" %}
{% load static %}

{% block title %}Products - Biscuit Shop{% endblock %}

{% block content %}
    <!-- CSRF token MUST be near top or in a form -->
    <div style="display:none;">
        {% csrf_token %}
    </div>

    <div id="product-detail-overlay">
        <div class="product-details-modal ">
            <button id="close-modal" class="close-modal-btn">
                <i class="bi bi-x-lg text-2xl"></i>
            </button>
            <div id="product-details-content">
                <!-- Product details will be loaded here via AJAX -->
                 <div>
                    <h2 class="text-2xl font-bold mb-4">Loading...</h2>
                    <p class="text-gray-600">Please wait while we load the product details.</p>
                 </div>
            </div>
        </div>
    </div>

    <div class="container mx-auto p-4">
        <div class="banner ">
            <h1 class="page-title quicksand-bold">Welcome to the Biscuit Shop!</h1>
            <p class="mb-4 text-blue-100">Discover our delicious range of biscuits and treats.</p>
        </div>
        <div class="biscuit-section mt-6 w-screen">
            <div class="mb-4">
                {% include "shop/categories.html" %}
            </div>
            <ul class="product-list-container" >
                {% for product in products %}
                    <li class="product-card" data-detail-url="{% url 'product-detail' product.id %}">
                        <div class="mb-2 relative">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-card-img" loading="lazy">
                                <button class="favorite-btn"
                                data-url="{% url 'toggle-favorite' product.id %}"
                                aria-label="Toggle favorite for {{product.name}}"
                                data-product-id="{{ product.id }}">
                                    {% if product.id in wishlist %}
                                        <i class="bi bi-heart-fill text-red-500"></i>
                                    {% else %}
                                        <i class="bi bi-heart text-white"></i>
                                    {% endif %}
                                </button>
                        </div>
                        <div class="p-4">
                            <h2 class="card-title quicksand-normal">{{ product.name }}</h2>
                            <p class="card-description">{{ product.description }}</p>
                            <p class="card-price">Ar {{ product.price }}</p>
                            <hr class="my-2 text-gray-500">
                            <div class="flex justify-center items-center">
                                <button  
                                class="primary-btn add-cart-btn "
                                data-url="{% url 'add-to-cart' product.id %}"
                                aria-label="Add {{ product.name }} to cart"
                                >
                                <i class="bi bi-cart-plus"></i> Add to Cart</button>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="pagination">
                <a class="pagination-btn" href="?page=1{% if current_category %}&category={{ current_category }}{% endif %}">
                    <i class="bi bi-chevron-double-left text-gray-500"></i>
                </a>
                {% if products.has_previous %}
                    <a href="?page={{ products.previous_page_number }}{% if current_category %}&category={{ current_category }}{% endif %}" class="pagination-btn">Previous</a>
                {% endif %}
                {% for page in products.paginator.page_range %}
                    {% if page == products.number %}
                        <span class="px-3 py-1 bg-gray-700 text-white rounded">{{ page }}</span>
                    {% else %}
                        <a href="?page={{ page }}{% if current_category %}&category={{ current_category }}{% endif %}" class="pagination-btn">{{ page }}</a>
                    {% endif %}
                {% endfor %}
                {% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}{% if current_category %}&category={{ current_category }}{% endif %}" class="pagination-btn">Next</a>
                {% endif %}
                <a class="pagination-btn" href="?page={{ products.paginator.num_pages }}{% if current_category %}&category={{ current_category }}{% endif %}">
                    <i class="bi bi-chevron-double-right text-gray-500"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/utils.js'%}"></script>
    <script src="{% static 'js/products.js' %}"></script>
{% endblock %}